#tabel {
    font-family: 'Times New Roman', Times, serif;
    border: black;
    margin: 0 auto;
    width: 50%;
  } 
  
  #tabel td, #tabel th {
    border: lpx solid white ;
    padding: 10px;
  }
  
  #table tr{
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: white;
  }